@page "/orders"

<PageTitle>Items</PageTitle>

@using BlazorServerApp.Data
@using BlazorServerApp.Data.Models
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime


<h1>Orders</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Created Date</th>
        <th>Quantity</th>
        <th>Customer id</th>
        <th>Item id</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @ItemsList)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.CreatedAt</td>
        <td>@item.Quantity</td>
        <td>@item.CustomerId</td>
        <td>@item.ItemId</td>
        <input type="radio"  name="id" onchange="@(()=>@SetId(item.Id))" value="@item.Id">
    </tr>
    }
    </tbody>
</table>
<button class="btn btn-primary" onclick="@Add">Add</button>
<button class="btn btn-primary" onclick="@Edit">Edit</button>
<button class="btn btn-primary" onclick="@Delete">Delete</button>
<p></p>
<h3>Search</h3>
<input type="text" @bind="@Id" placeholder="Order id">
<input type="text" @bind="@CreatedAt" placeholder="Created Date">

<input type="text" @bind="@Quantity" placeholder="Quantity">

<input type="text" @bind="@CustomerId" placeholder="Customer id">

<input type="text" @bind="@ItemId" placeholder="Item id">

<p><button class="btn btn-primary" @onclick="@Search">Search</button>
    <button class="btn btn-primary" @onclick="@Reset">Reset</button></p>

@code {
    private int? Id { get; set; }
    private DateTime? CreatedAt { get; set; }
    private int? Quantity { get; set; }
    private int? CustomerId { get; set; }
    private int? ItemId { get; set; }


    int id = 0;
    private List<Order> ItemsList { get; set; }

    private void SetId(int data)
    {
        id = data;
    }

    public void Search()
    {
        var db = DataContext.GetInstance();
        ItemsList = db.Orders.ToList();
        List < Order > items = new List<Order>();
        if (Id != null || Id.ToString() != "")
        {
            items = ItemsList.Where(x=>x.Id == Id).ToList();
            ItemsList = items;
        }
        if (CreatedAt != null)
        {
            items = ItemsList.Where(x => x.CreatedAt.ToShortDateString() == CreatedAt?.ToShortDateString()).ToList();
            ItemsList = items;
        }
        if (Quantity != null)
        {
            items = ItemsList.Where(x => x.Quantity == Quantity).ToList();
            ItemsList = items;
        }
        if (CustomerId != null)
        {
            items = ItemsList.Where(x => x.CustomerId == CustomerId).ToList();
            ItemsList = items;
        }
        if (ItemId != null)
        {
            items = ItemsList.Where(x => x.ItemId == ItemId).ToList();
            ItemsList = items;
        }

    }
    public void Reset()
    {
        var db = DataContext.GetInstance();
        ItemsList = db.Orders.ToList();
        Id = null;
        CreatedAt = null;
        Quantity = null;
        CustomerId = null;
        ItemId = null;
    }

    public void Add()
    {
        string url = NavigationManager.Uri + "/add";
        NavigationManager.NavigateTo(url);
    }
    async public void Edit()
    {
        if (id == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Chose item!");
            return;
        }
        string url = NavigationManager.Uri + "/add";
        string paramUrl = url + "/" + id.ToString();
        NavigationManager.NavigateTo(paramUrl);
    }
    async public void Delete()
    {
        if (id == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Chose item!");
            return;
        }
        var db = DataContext.GetInstance();
        var item = db.Orders.Find(id);
        if (item != null)
            db.Orders.Remove(item);
        db.SaveChanges();
        HandleClick();
    }
    protected override async Task OnInitializedAsync()
    {
        var db = DataContext.GetInstance();
        ItemsList = db.Orders.ToList();

    }
    private void HandleClick()
    {
        // NavigationManager.NavigateTo("items", true);
        var db = DataContext.GetInstance();
        ItemsList = db.Orders.ToList();
    }
}